<ion-view view-title="{{title}}">
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="post in posts" href="{{post.url}}">
                <img ng-show="{{post.thumbnail}}" ng-src="{{post.thumbnail}}">
                <p class="post-title">{{post.title}}</p>
                <a class="comment-link" ng-click="goToComments(post.permalink)">
                    <i class="icon ion-chatbubbles"></i>
                </a>
                <small>{{post.author}}</small>
                <small>{{post.subreddit}}</small>
                <small>{{post.created | date}}</small>
                <br>
                <small class="soft">{{post.domain}}</small>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
